.toggleButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 100px;
  height: 30px;
  width: 65px;
  transition: 0.8s;
  &.on {
    background-color: #444;
  }
  &.off {
    background-color: #888;
  }

  .toggleBall {
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    transition: 0.4s;
    &.on {
      transform: translateX(30px);
    }
  }
}