@import "../scss/variables";

.section {
	width: 80vw;
	margin: 50px auto;

	h2 {
		margin-bottom: 50px;
		font-size: 2rem;
	}
	.blogList {
		list-style: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.listItem {
			margin-bottom: 50px;
			padding: 10px 10px;
			width: 30%;
			a {
				display: block;
				margin-bottom: 20px;
				color: #444;
				font-size: 1.3rem;
				font-weight: 500;
				transition: .2s;
				line-height: 1.5;
				&:hover {
					color: $main-color;
				}
			}
			.imgWrapper {
				height: 250px;
				img {
					width: 100%;
					margin-bottom: 30px;
					display: block;
				}
			}
			.timeWrapper {
				margin-bottom: 20px;
				time {
					font-size: 1rem;
				}
			}
		}
	}
}