.button {
	position: absolute;
	bottom: 3%;
	right: 20%;
	font-size: 1.3rem;
	display:inline-block;
	padding:10px 30px 10px 20px;
	text-align:center;
	color:#666;
	margin:5px;
	cursor:pointer;
	text-decoration: none;

	&::after {
		content: "";
    display: block;
    position: absolute;
    top: calc(50% - 5px);
    left: 90%;
    width: 40px;
    height: 10px;
    border: none;
    border-right: 3px solid #666;
    border-bottom: 2px solid #666;
    transform: skew(45deg);
    transition: .3s;
	}
	&:hover {
		color: #222;
	}
	&:hover::after {
		right: -60px;
    width: 60px;
		border-color: #222;
	}
}

@media screen and (max-width: 768px) {
	.button {
		font-size: 1rem;
		margin: 0;
		&::after {
			left: 80%;
			width: 35px
		}
	}	
}