.button {
	position: absolute;
	bottom: 3%;
	right: 20%;
	font-size: 1.5rem;
	display:inline-block;
	width: 100px;
	padding:10px 30px 10px 20px;
	text-align:center;
	color:#666;
	margin:5px;
	cursor:pointer;
	text-decoration: none;

	&::after {
		content: "";
    display: block;
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    width: 40px;
    height: 10px;
    border: none;
    border-right: 3px solid #666;
    border-bottom: 2px solid #666;
    transform: skew(45deg);
    transition: .3s;
	}
	&:hover {
		color: #222;
	}
	&:hover::after {
		right: -60px;
    width: 90px;
		border-color: #222;
	}
}