@import "../scss/variables";

.section {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0 80px;

	.wrapper {
		width: 70%;
		margin: 0 auto;
		.sectionTitle {
			margin-bottom: 50px;
			font-size: 2rem;
		}
	}

	.tabList {
		display: flex;
		justify-content: center;
		.tab {
			width: 49%;
			flex-grow: 1;
			padding: 10px 15px;
			font-size: 1.5rem;
			border-radius: 3px 3px 0 0;
			background-color: #ddd;
			transition: 0.3s;
		}
		.tab.selected {
			background-color: lightblue;
		}
	}

	.body {
		border: 1px solid #eee;
		padding: 30px 50px;
		.itemList {
			display: flex;
			flex-wrap: wrap;
			.item {
				margin-right: 20px;
				width: 25%;
				padding: 20px;
				border: 2px solid #bbb;
				.imgWrapper {
					width: 100%;
					img {
						width: 100%;
					}
				}
			}
		}
	}

	/* リセットCSS */
	button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: none;
		border-radius: 0;
		font: inherit;
		outline: none;
		cursor: pointer;
	}
}