@import "../scss/variables";

.section {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0 80px;

	.wrapper {
		width: 70%;
		margin: 0 auto;
		.sectionTitle {
			margin-bottom: 50px;
			font-size: 2rem;
		}
	}

	.tabList {
		display: flex;
		justify-content: center;
		.tab {
			width: 49%;
			flex-grow: 1;
			padding: 10px 15px;
			font-size: 1.5rem;
			border-radius: 3px 3px 0 0;
			background-color: #ddd;
			transition: 0.3s;
		}
		.tab.selected {
			background-color: lightblue;
		}
	}

	.body {
		border: 1px solid #eee;
		padding: 30px 50px;
		transition: 0.3s;
		.itemList {
			display: flex;
			flex-wrap: wrap;
			.item {
				margin-right: 20px;
				margin-bottom: 50px;
				width: 31%;
				.imgWrapper {
					margin-bottom: 15px;
					width: 100%;
					box-shadow: 0 0 3px 3px #eee;
					img {
						width: 100%;
						height: auto;
					}
				}
				.itemName {
					display: inline-block;
					margin-right: 15px;
					font-size: 1.4rem;
					line-height: 1.5;
				}
				.itemPrice {
					display: inline-block;
					font-size: 1.3rem;
				}
				.itemBody {
					margin-top: 15px;
					font-size: 1rem;
					line-height: 1.5;
				}
			}
		}
	}

	/* リセットCSS */
	button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: none;
		border-radius: 0;
		font: inherit;
		outline: none;
		cursor: pointer;
	}
}

@media screen and (max-width: 768px) {
	.section {
		padding: 30px 0 40px;
		.wrapper {
			width: 85%;
			.sectionTitle {
				font-size: 1.8rem;
			}
		}
		.tabList {
			width: 95%;
			margin: 0 auto;
			.tab {
				padding: 10px 12px;
				font-size: 1rem;
			}
		}
		.body {
			width: 95%;
			padding: 20px 0;
			margin: 0 auto;
			.itemList {
				width: 90%;
				margin: 0 auto;
				justify-content: space-between;
				.item {
					margin-right: 10px;
					width: 45%;
					.itemName {
						font-size: 1.1rem;
					}
					.itemPrice {
						font-size: 1rem;
					}
					.itemBody {
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}